<nav class="navbar navbar-light bg-light">

  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="https://cdn.discordapp.com/attachments/1298376290981646397/1304042212560212011/logo_poli.png?ex=672df373&is=672ca1f3&hm=9c539b96ab7d809f119f039211ded1776fe89394b77a9c97c823b68b5061d7ec&" alt="Policlínica Logo" width="140
      " height="24" class="d-inline-block align-text-top">
    </a>
    <div class="d-flex align-items-center">
      <!-- Nome do Usuário --><span class="me-3">Moni Roy <!-- Classe do Usuário --><small>Admin</small></span>
      <img src="https://cdn.discordapp.com/attachments/1298376290981646397/1304030146050658336/icon_perfil.png?ex=672de836&is=672c96b6&hm=6da06727054b927e177ffbf1eb4da3b389267ffd76d2f2c4144153d9ac6f06e9&" alt="User Icon" class="rounded-circle" width="32" height="32">
    </div>
  </div>
</nav>
