// Import Fonts (Lato and Nunito)
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
$quitewhite: #faf5fa;
$green: #27d7a1;
$light-green: #45f69e;
$dark-green: rgb(0, 100, 80);

$light: #f8f8f8;


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $green;

$link: $quitewhite;


// Update some of Bulma's component variables

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// Set custom global styles (will be applied to whole app)
body {
  font-family: 'Nunito', sans-serif;
  color: #353535;
}
html {
    background:  $quitewhite;
}

html, body {
    height: 100%;

}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal-box {
    min-height: 200px;
    width: 100%;
    max-width: 580px;
    background: white;
    border-radius: 5px;
    padding: 35px;
}

.title {
    font-family: 'Lato';
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

.white-box {
    padding: 35px;
    background: white;
    border-radius: 5px;

    width: 350px;
    max-width: 350px;

}
